@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height:100%;
    width:100%;
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(32, 32, 32, 0.966);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid blue;
  }


/* .ps__rail-y {
    background-color: #333;
}

.ps__thumb-y {
    background-color: blue;
    border-radius: 10px;
} */
